# REQUIRED
SECRET_KEY="randomly-generated-secret-key"
DEBUG="True"

# CONNECTION
ALLOWED_HOSTS="*"
CORS_ALLOWED_ORIGINS="https://*"
CSRF_TRUSTED_ORIGINS="https://"

# DATABASE
USE_TEST_DB="False"
DB_NAME=""
DB_USERNAME="postgres"
DB_PASSWORD=""
DB_HOST="localhost"
DB_PORT="5432"

# REDIS
REDIS_HOST="redis://127.0.0.1:6379"
REDIS_PREFIX=""

# APP DEFAULTS
DEFAULT_PAGE_SIZE="10"
DEFAULT_EMAIL_RECIPIENTS=""
DEFAULT_PASSWORD=""
DEFAULT_OTP=""
DEFAULT_PROFILE_IMAGE="https://res.cloudinary.com/ddxwvys2e/image/upload/v1757875625/vecteezy_user-icon-on-transparent-background_19879186_ktgfyp.png"

# APP INFO
PROJECT_TITLE=""
PROJECT_DESCRIPTION=""
APP_LOGO_URL=""
APP_NAME=""
APP_SUPPORT_ADDRESS=""
APP_SUPPORT_EMAIL=""
APP_SUPPORT_HOTLINE=""
APP_SUPPORT_URL=""
APP_ENC_ENABLED="False"
API_REQUEST_LOGGING_ENABLED="False"

# AWS CONFIG
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME=""
AWS_S3_REGION_NAME=""
USES_S3_BUCKET=""

# ADMIN
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_PHONE_NUMBER=""

# MAILJET
MJ_API_KEY=""
MJ_API_SECRET=""

# CLOUDINARY
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_API_NAME=""

# EMAIL CONFIG
EMAIL_HOST=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_PORT=""
SEND_EMAIL_VIA="SMTP" # or "MJ"
DEFAULT_FROM_EMAIL=""
